{
	"*.blade.php": "prettier --write",
	"*.php": ["./vendor/bin/duster fix", "./vendor/bin/phpstan analyse --no-progress --memory-limit 512m"],
	"*.css": "prettier --write",
	"*.scss": "prettier --write",
	"*.js": "prettier --write"
}
