/vendor
/node_modules
/storage
/public
/bootstrap
/config
/tests
/bootstrap
composer.json
composer.lock
package-lock.json
package.json
readme.md

resources/views/components/button.blade.php
resources/views/components/flowbite
resources/views/vendor/livewire