@import url('/resources/css/imports.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply m-0 p-0;
}

body {
    @apply overflow-x-hidden font-geist text-white min-h-screen min-w-max;
}

* {
    @apply box-border;
}

.no-spinners::-webkit-inner-spin-button,
.no-spinners::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-spinners {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
}

.remove-scrollbar::-webkit-scrollbar {
    display: none;
}

.remove-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}



input[type="checkbox"]:checked::after {
    @apply absolute content-[''] w-[24px] h-[24px] rounded-sm bg-green-400/75 flexc bottom-1/2 right-1/2 translate-x-1/2 translate-y-1/2;
}
button{
    @apply transition-all cursor-pointer;
    &:hover{
        @apply opacity-90 scale-110;
    }
}

.estimate-textarea{
    @apply resize-none;
}